.TodoCheck{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.TodoCheck-img{
  display: flex;
  justify-content: center;
  gap: 50px;
}

.TodoCheck-img :nth-child(1){
  width: 150px;
}

.TodoCheck-img :nth-child(2){
  width: 120px;
}



.TodoCheck-p{
  display: flex;
  justify-content: center;
  gap: 120px;
}