.TodoItem{
  display: flex;
  align-items: center;
  border-right: 3px solid #3F72AF;;
  border-bottom: 1.5px solid #3F72AF;
  background-color: rgb(252, 252, 252);
  border-radius: 7px;
  padding: 5px 0;
}

/*check box css*/
input[type="checkbox"]+label{
  margin-left: 10px;
  width: 50px;
  height: 50px;
  background: url('./assets/isDone_X.png') no-repeat 0 0px / contain;
}

input[type='checkbox']:checked+label {
  background: url('./assets/isDone_O.png') no-repeat 0 0px / contain;
}
input[type="checkbox"] {
  display: none;
}

.TodoItem_content_false{
  text-align: center;
  flex: 1;
}
.TodoItem_content_true{
  text-align: center;
  flex: 1;
  text-decoration: line-through;
  text-decoration-thickness: 3px;
  text-decoration-color: #3F72AF;
}


/* 수정 누르기 전 css*/
.falseItem{
  display: flex;
  flex : 1;
  align-items: center;
}

.TodoItem-EdiBtn, .TodoItem-DelBtn{
  margin-right: 5px;
  height: 30px;
  border-radius: 7px;
  border: 1px solid lightgray;
  font-weight: bold;
  cursor: pointer;
  
}
.TodoItem-EdiBtn:hover, .TodoItem-DelBtn:hover{
  color: white;
  background-color: #3F72AF;
  transition: background-color 0.5s ease;
  border: 1px solid white;
}


/*수정 버튼 누르면*/
.trueItem{
  display: flex;
  flex: 1;
  align-items: center;
}

.TodoItem-input{
  flex: 1;
  padding: 16px;
  margin-right: 3px;
  border-radius: 7px;
  border: 1px solid lightgray;
  font-weight: bold;
  font-size: 18px;
}