
.TodoEditor{
  width: 95%;
}
.Editor{
  margin-top: 10px;
  display: flex;
  gap: 3px;
}

.TodoEditor-input{
  flex:10;
  padding : 15px;
  border-radius: 7px;
  border: 1px solid #F9F7F7;
  cursor: pointer;
}

.TodoEditor-input:focus{
  outline: none;
}

.TodoEditor-button{
  flex:1.5;
  border-radius: 7px;
  border: 1px solid #F9F7F7;
  background-color: #F9F7F7;
  cursor: pointer;
}

.TodoEditor-button:hover{
  color: white;
  border: 1px solid white;
  background-color: #3F72AF;
  transition: background-color 0.5s ease;
}


.hr{
  margin-top: 30px;
  background-color: #3F72AF;
  padding: 0.5px;
}