.TodoList{
  width: 90%;
  margin-bottom: 15px;
  height: 300px;
  overflow: scroll;
}

::-webkit-scrollbar {
  display: none;
}

.TodoList-TodoItem{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
