.TodoItem{
  display: flex;
  align-items: center;
  border-top: 0.5px solid #3F72AF;
  border-left: 0.5px solid #3F72AF;
  border-right: 4px solid #3F72AF;
  border-bottom: 1.5px solid #3F72AF;
  background-color: rgb(252, 252, 252);
  border-radius: 7px;
  padding: 5px 0;
}

input[type="checkbox"]+label{
  margin-left: 10px;
  width: 50px;
  height: 50px;
  background: url('./assets/isDone_X.png') no-repeat 0 0px / contain;
}

input[type='checkbox']:checked+label {
  background: url('./assets/isDone_O.png') no-repeat 0 0px / contain;
}
input[type="checkbox"] {
  display: none;
}

.TodoItem_content_false{
  text-align: center;
  flex: 1;
}
.TodoItem_content_true{
  text-align: center;
  flex: 1;
  text-decoration: line-through;
  text-decoration-thickness: 3px;
  text-decoration-color: #3F72AF;
}

.falseItem{
  display: flex;
  flex : 1;
  align-items: center;
}

.trueItem{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

}

.TodoItem-EdiBtn, .TodoItem-DelBtn{
  margin-right: 5px;
  width: 40px;
  height: 30px;
  border-radius: 7px;
  border: 1px solid lightgray;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Noto Sans KR', sans-serif;
}

.TodoItem-EdiBtn-1, .TodoItem-DelBtn-1{
  margin-right: 5px;
  width:  40px;
  height: 30px;
  border-radius: 7px;
  border: 1px solid lightgray;
  font-weight: bold;
  cursor: pointer; 
}

.btn{
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.TodoItem-EdiBtn:hover,.TodoItem-EdiBtn-1:hover, .TodoItem-DelBtn:hover,.TodoItem-DelBtn-1:hover{
  color: white;
  background-color: #3F72AF;
  transition: background-color 0.5s ease;
  border: 1px solid white;
}


.TodoItem-input{
  flex: 1;
  /* width: 260px; */
  padding: 16px 0;
  padding-left: 5px;
  margin-left: 3px;
  margin-right: 1px;
  border-radius: 7px;
  border: 1px solid lightgray;
  font-weight: bold;
  font-size: 18px;
}