@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Orbit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');

.Home {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-color: #dbe2ef;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  gap: 15px;
}

.Home :not(:first-child) {
  font-family: 'Noto Sans KR', sans-serif;
}
