
.Container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  min-height: 852px;
  overflow: hidden;   
}
.BaseLayout{
  width: 575px;
  height: 1024px;
  background-color: #DBE2EF;
  display: flex;
  flex-direction: column;
  align-items: center;
};